<h2 class="govuk-heading-m">Acronym key</h2>

{{ govukSummaryList({
    rows: [
        {
            key: {
                text: "NSJSA"
            },
            value: {
                text: "New Style Jobseeker's Allowance"
            }
        },
        {
            key: {
                text: "DTH"
            },
            value: {
                text: "Dynamic Trust Hub"
            }
        },
        {
            key: {
                text: "IDV"
            },
            value: {
                text: "Identity verification"
            }
        }
    ]
}) }}