
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Sprint #1 – ID&V agents
        <span class="govuk-caption-m">May 5 to May 14</span>
      </h1>

      {% include 'sprint1/hypotheses.html' %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <ul class="govuk-list govuk-list--bullet">
          <li><a href='sprint1/agent-idv'>Agent ID&V</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
