{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Based on your answers, you may be eligible for New Style Jobseeker&rsquo;s Allowance</h1>

      <p>We'll need to check your claim after you apply.</p>
      
      {{ govukButton({
            text: "Continue",
            href: "../dth/start"
        }) }}

    </div>
  </div>

{% endblock %}
