
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Prove your identity to continue</h1>

      <p>To get New Style Jobseeker's Allowance (JSA) we need to check your identity.</p>

      <p>You can do this after you apply but your claim will be delayed.</p>

        {{ govukButton({
            text: "Continue",
            href: "https://dth-prototype.herokuapp.com/auth/v8/register/start"
        }) }}

        <p><a href="claim-start">Continue without proving your identity</a></p>

    </div>
  </div>

{% endblock %}
