
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">We couldn’t confirm your identity online</h1>

    <p>This might be because some of the information you gave us did not match our records.</p>
    <p>You can still complete your application online.</p>
    <p>We’ll contact you to confirm your identity after you complete your application for New Style JSA.</p>
    
    {{ govukButton({
        text: "Continue application",
        href: "./next?id=fail"
    }) }}
      
    <p><a href="dth">You can try confirming your identity again</a></p>

  </div>
</div>

{% endblock %}
