
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">
      <span class="govuk-caption-xl">Personal details</span>Check your contact information
    </h1>

    <p class="govuk-body-l">We will use this information to contact you about your claim.</p>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: data['first-name'] + " " + data['last-name']
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "23/03/1988"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: data['address-line-1'] + "<br/>"
        + data['address-line-2'] + "<br/>"
        + data['address-town'] + "<br/>"
        + data['postcode']
      },
      actions: {
        items: [
          {
            href: "address",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Phone"
      },
      value: {
        text: data['register-mobile-number']
      },
      actions: {
        items: [
          {
            href: "contact-phone",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data['register-email-address']
      },
      actions: {
        items: [
          {
            href: "contact-email",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

      {{ govukButton({
            text: "Continue",
            href: "title"
        }) }}
    </div>
  </div>

{% endblock %}
