
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        New Style JSA automation alpha prototypes
        <span class="govuk-caption-l">2021</span>
      </h1>

      <h2 class="govuk-heading-m">
        <a href="sprint9">Sprint #9 – Citizen ID&V declare, confirm and handover</a>
        <span class="govuk-caption-m">August 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="sprint8">Sprint #8 – Citizen ID&V (round 3)</a>
        <span class="govuk-caption-m">August 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <span>Sprint #7 – Refocus sprint, no prototypes</span>
        <span class="govuk-caption-m">July 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <span>Sprint #6 – Reset sprint, no prototypes</span>
        <span class="govuk-caption-m">July 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <span>Sprint #5 – Agent bio checks and scola process</span>
        <span class="govuk-caption-m">June 2021</span>
      </h2>
      <p>Used agent prototype for this as it contained all required components and data.</p>
      <p>U: jsa P: jsa</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="sprint4">Sprint #4 – Citizen ID&V (round 2)</a>
        <span class="govuk-caption-m">June 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="https://newstylejsa-admin.herokuapp.com/future-team/ur2">Sprint #3 – Agent automation exceptions process</a>
        <span class="govuk-caption-m">May 2021</span>
      </h2>
      <p>Used agent prototype for this as it contained all required components and data.</p>
      <p>U: jsa P: jsa</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="sprint2">Sprint #2 – Citizen ID&V (round 1)</a>
        <span class="govuk-caption-m">May 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <span>Sprint #1 – Agent ID&V</span>
        <span class="govuk-caption-m">April 2021</span>
      </h2>

      <p>Stalled as working on live team case management.</p>
{# 
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="journeys">Journey index</a>
        <span class="govuk-caption-m">All journeys</span>
      </h2> #}


    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/acronyms.html" %}
    </div>
  </div>

{% endblock %}
