
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        New Style JSA automation alpha prototypes
        <span class="govuk-caption-l">2021</span>
      </h1>

      <h2 class="govuk-heading-m">
        <a href="sprint4">Sprint #4 – ID&V citizens (round 2)</a>
        <span class="govuk-caption-m">June 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="https://newstylejsa-admin.herokuapp.com/future-team/ur2">Sprint #3 – agents automation exceptions</a>
        <span class="govuk-caption-m">May 2021</span>
      </h2>
      <p>Used old agent prototype for this as it contained all required components and data.</p>
      <p>U: jsa P: jsa</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="sprint2">Sprint #2 – ID&V citizens (round 1)</a>
        <span class="govuk-caption-m">May 2021</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="#"><s>Sprint #1 – ID&V agents</s></a>
        <span class="govuk-caption-m">April 2021</span>
      </h2>
{# 
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="journeys">Journey index</a>
        <span class="govuk-caption-m">All journeys</span>
      </h2> #}


    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/acronyms.html" %}
    </div>
  </div>

{% endblock %}
