
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Sprint #8 – Citizen ID&V (round 3)
        <span class="govuk-caption-m">July 28 to August 10</span>
      </h1>

      <p>Any journeys here hand-off to the Dynamic Trust Hub screens after JSA application.</p>
      <p>Reasons for hand-off at the end, risk of losing eligible applicants in DTH.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Sprint hypothesis</h2>

{% set hypothesis %}

<h2 class="govuk-heading-m">Hypothesis #1</h2>
  {{ govukSummaryList({
    rows: [
        {
            key: {
                text: "We believe that"
            },
            value: {
                text: "giving information upfront about what is needed for the online IDV"
            }
        },{
            key: {
                text: "for"
            },
            value: {
                text: "claimants applying online for NSJSA"
            }
        },{
            key: {
                text: "will acheive"
            },
            value: {
                text: "less users without necessary documents starting the online IDV"
            }
        },{
            key: {
                text: "validated by"
            },
            value: {
                text: "user research and prototype testing"
            }
        }
    ]
    }) }}

    <h2 class="govuk-heading-m">Hypothesis #2</h2>
  {{ govukSummaryList({
    rows: [
        {
            key: {
                text: "We believe"
            },
            value: {
                text: "omitting information about the Trust Hub registration"
            }
        },{
            key: {
                text: "for"
            },
            value: {
                text: "claimants doing online IDV during their NSJSA application"
            }
        },{
            key: {
                text: "will acheive"
            },
            value: {
                text: "in less claimant confusion"
            }
        },{
            key: {
                text: "validated by"
            },
            value: {
                text: "user research and prototype testing"
            }
        }
    ]
    }) }}

    <h2 class="govuk-heading-m">Hypothesis #3</h2>
  {{ govukSummaryList({
    rows: [
        {
            key: {
                text: "We believe that"
            },
            value: {
                text: "not informing about success or failure of online IDV"
            }
        },{
            key: {
                text: "for"
            },
            value: {
                text: "claimants having completed the online IDV"
            }
        },{
            key: {
                text: "will acheive"
            },
            value: {
                text: "less upset and worried users"
            }
        },{
            key: {
                text: "validated by"
            },
            value: {
                text: "user research and prototype testing"
            }
        }
    ]
    }) }}
  {% endset %}

      {{ govukDetails({
        summaryText: "View sprint hypotheses",
        html: hypothesis
      }) }}
      
      <p class="govuk-body-l"><a href='sprint8/1/1-eligibility/introduction'>Start journey</a></p>

      <h3 class="govuk-heading-s">Key screens</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href='sprint8/1/1-eligibility/eligible'>Eligibility outcome</a></li>
        <li><a href='sprint8/1/hand-off'>DTH hand-off</a></li>
        <li><a href='sprint8/1/confirmation?id=verified'>Successful IDV confirmation</a></li>
        <li><a href='sprint8/1/confirmation?id=not-verified'>Unsuccessful IDV confirmation</a></li>
        <li><a href='sprint8/1/check-answers'>Check answers</a></li>
        <li><a href='sprint8/1/declaration'>Declaration</a></li>
      </ul>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/acronyms.html" %}
    </div>
  </div>

{% endblock %}